body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.shoe-links {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.shoe-category {
    text-align: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.shoe-category:hover {
    transform: scale(1.05);
}

.shoe-category img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.shoe-category h2 {
    margin-top: 10px;
    color: #333;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-container {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
 .btn-container {
    background-color: white;
 }

