body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 40px;
    background-color:  rgb(228, 175, 40);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.shoe-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}
